<h1>Reset Your Password</h1>

<%= simple_form_for @user, url: password_reset_path(id: @user.perishable_token),
  html: { class: 'form form-vertical' } do |f| %>

  <fieldset>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  </fieldset>

  <div class="actions">
    <%= f.button :submit, 'Change my password', class: 'btn btn-primary' %>
    <%= link_to 'Nevermind', sign_in_path, class: 'btn' %>
  </div>
<% end %>
