<fieldset>
	<%= f.input :title, label: "Job title", placeholder: 'Job title' %>
	<%= f.input :category, label: "Job type", as: :radio, collection: [
  		["Full Time", "full_time"], 
  		["Part Time", "part_time"], 
  		["Paid Internship", "paid_internship"], 
  		["Unpaid Internship", "unpaid_internship"]
	  ], input_html: { rows: 12 } %>
	<%= f.input :school, placeholder: "Example: University of Oregon" %>
	<%= f.input :location, label: "Job location", placeholder: "Example: Eugene, OR" %>
	<%= f.input :description, label: "Job description", input_html: { class: "tinymce", cols: 70 } %>
	<%= f.input :apply, label: "How to apply", hint: "Example: Send a resume and references to you@school.edu", 
	  input_html: { class: "tinymce", rows: 6, cols: 70 } %>

	<div class="buttons">
  	<%= f.button :submit, "Save job", class: "btn primary" %>
  	<%= link_to "Cancel", jobs_path, class: "btn" %>
  </div>
</fieldset>	