<a href="#" class="show-job">
  <span class="job-location">{{location}}</span>
  <span class="job-title">{{title}}</span>
  at
  <span class="job-school">{{school}}</span>
  <span class="job-date">{{pretty_date}}</span>
  <span class="job-category {{css_class}}">{{pretty_category}}</span>
</a>