<% content_for :nav do %>
	<p><%= link_to "â† View all jobs", jobs_path %></p>
<% end %>

<h1 class="job-title"><%= @job.title %></h1>
<p class="job-posted-on">Posted on <%= @job.created_at.strftime('%B %d') %></p>

<p class="job-category-at"><%= @job.category.humanize %> at <%= @job.school %></p>

<% div_for @job do %>
	<div id="job-spread">
		<a href="mailto:?subject=<%= @job.school %> is hiring a <%= @job.title %>&body=<%= @job.school %> is hiring a <%= @job.title %>. Go see the full thing at <%= job_url(@job) %>" class="email">
			Email this job to a friend
		</a>
	</div>
	
	<h2>Job Description</h2>
	<p><%= @job.description %></p>

	<div class="apply">
		<h2>How to Apply</h2>
		<p><%= @job.apply %></p>
	</div>
<% end %>

<% if @job.changeable_by?(current_user) %>
	<%= link_to "Edit job", edit_job_path(@job) %> or <%= link_to "Destroy", job_path(@job), :method => :delete, :confirm => "Are you sure you want to delete this job?", :class => :cancel %>
<% end %>