<a href="#" class="close btn">View all jobs</a>

<div class="clearfix">
  <h6 class="job-posted-on">Posted on {{pretty_date}}</h6>
  <h2>{{title}}</h2>
  <div class="edit"><a href="/jobs/{{id}}/edit" title="Edit this job">Edit details</a></div>
</div>
<hr />

<h4>{{pretty_category}} at {{school}}</h4>

<div class="email">
  <a href="mailto:?subject={{school}} is hiring a {{title}}&body={{school}} is hiring a {{title}}. Go see the full thing at http://footballops.org/jobs#show/{{id}}">
		Email this job to a friend
	</a>
</div>
<hr />


<div class="job-detail" id="job_{{id}}">
	<h3>Job Description</h3>
	<p>{{{description}}}</p>

	<div class="apply">
		<h2>How to Apply</h2>
		<p>{{{apply}}}</p>
	</div>
</div>