<%= f.error_messages %>

<p>
  <%= f.label :school_id, 'School' %>
  <%= f.collection_select :school_id, School.all, :id, :name  %>
</p>
<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</p>
<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>
<p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
</p>
<p>
  <%= f.label :fax %>
  <%= f.text_field :fax %>
</p>

<% if admin? -%>
	<p>
	  <%= f.label :conference_rep %>
	  <%= f.check_box :conference_rep %>
	</p>
	<p>
	  <%= f.label :national_committee %>
	  <%= f.check_box :national_committee %>
	</p>
	<p>
	  <%= f.label :admin %>
	  <%= f.check_box :admin %>
	</p>
<% end -%>

<p>
	<%= f.label :photo %>
	<%= f.file_field :photo %>
</p>
<p>
	<%= f.label :password %>
	<%= f.password_field :password %>
</p>
<p>
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>
</p>

<p>
  <%= f.submit 'Save' %>
</p>