<div id="profile_picture">
	<%= image_tag @user.photo.url(:medium) %>
</div>

<div id="profile_detail">
	<%= f.error_messages %>
	<% f.inputs do %>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
	<% end -%>
	
	<% f.inputs do %>
		<%= f.input :school, :prompt => "(select your school)", :required => true %>
		<%= f.input :email %>
		<%= f.input :phone %>
		<%= f.input :fax %>
		<%= f.input :photo, :as => :file %>
	<% end -%>
	
	<% f.inputs do %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
	<% end -%>
	
	<% f.buttons do %>
		<%= f.commit_button 'Save Profile' %> or <%= link_to 'Cancel', root_path, :class => :cancel %>
	<% end -%>
</div>
<div class="clear"></div>
