<div id="profile_picture">
	<%= image_tag @user.photo.url(:medium) %>
</div>

<div id="profile_detail">
	<% f.inputs do %>
		<%= f.input :first_name, :required => true %>
		<%= f.input :last_name, :required => true %>
	<% end -%>
	
	<% f.inputs do %>
		<%= f.input :school, :prompt => "(select your school)", :required => true %>
		<%= f.input :email, :required => true %>
		<%= f.input :phone %>
		<%= f.input :fax %>
		<%= f.input :photo, :as => :file %>
	<% end -%>
	
	<% f.inputs do %>
		<%= f.input :password, :as => :password, :required => true %>
		<%= f.input :password_confirmation, :as => :password, :required => true %>
	<% end -%>

	<% if admin? -%>
		<% f.inputs do %>
			<%= f.input :conference_rep %>
			<%= f.input :national_committee %>
		<% end -%>
	<% end -%>
	
	<% f.inputs do %>
		<%= f.submit 'Save Profile' %> or <%= link_to 'Cancel', users_path, :class => :cancel %>
	<% end -%>
</div>
<div class="clear"></div>
