<header class="page-head clearfix">
  <h1>All DFO Members</h1>

  <%= link_to '<i class="icon-plus-sign"></i> Create a new user'.html_safe,
    new_user_path, class: 'btn btn-primary btn-small' %>

  <%= form_tag search_users_path, method: :get, class: 'form-search' do %>
    <%= text_field_tag :q, nil, placeholder: 'Search by name', class: 'search-query' %>
    <button type="submit" class="btn"><i class="icon-search"></i></button>
  <% end %>
</header>

<div class="user-controls clearfix">
  <%= will_paginate @users %>
  <%= link_to '<i class="icon-envelope"></i> Email these DFOs'.html_safe,
    '#', class: 'btn email-link' %>
</div>

<% @users.each do |user| %>
  <%= link_to user_path(user), class: 'user clearfix' do %>
    <div class="user-name"><%= user.full_name %></div>
    <span class="user-school"><%= user.school_name %></span>
    <span class="user-tags"><%= tags_for user %></span>
  <% end %>
<% end %>

<%= will_paginate @users %>
