<h1>Search Results</h1>

<% form_tag "/users/search", :method => :post do %>
	<%= text_field_tag :last_name %> <%= submit_tag "Search by last name" %>
<% end %><br />

<%= will_paginate @users %>

<table>
	<%= render 'user_table' %>
	<%= render @users %>
</table>

<%= will_paginate @users %>