<h1><%= @user.full_name %></h1>

<div class="btn-group">
  <%= link_to '<i class="icon-edit"></i> Edit profile'.html_safe,
    edit_user_path(@user), class: 'btn' %>
  <%= link_to '<i class="icon-trash"></i> Delete profile'.html_safe,
    user_path(@user), method: :delete, class: 'btn',
    confirm: 'Are you sure you want to delete this user?' %>
</div>

<div class="well">
  <dl>
    <dt>School:</dt>
    <dd><%= link_to @user.school_name, @user.school %></dd>

    <dt>Conference:</dt>
    <dd><%= link_to @user.conference_name, @user.conference %></dd>

    <dt>District:</dt>
    <dd><%= link_to @user.district_name, @user.district %></dd>

    <dt>Division:</dt>
    <dd><%= link_to @user.division_name, @user.division %></dd>
  </dl>
</div>

<div class="well">
  <dl>
    <dt>Email:</dt>
    <dd><%= mail_to @user.email %></dd>

    <dt>Phone:</dt>
    <dd><%= @user.phone %></dd>

    <dt>Fax:</dt>
    <dd><%= @user.fax %></dd>
  </dl>
</div>

<div class="well">
  <dl>
    <dt>Positions:</dt>
    <dd><%= tags_for(@user) %></dd>
  </dl>
</div>
