<% div_for @user do %>
  <div id="user-avatar">
    <%= image_tag "blank_avatar.jpg" %>
  </div>

  <div id="user-basic-info">
  	<div id="user-name">
  	  <h1><%= @user.full_name %></h1>
  	</div>
	
  	<div id="user-school">
  	  <h3><%= link_to @user.school_name, @user.school %></h3>
  	</div>
	
  	<div id="user-affiliations">
  		<%= link_to @user.division_name, @user.division %> |
  		<%= link_to @user.conference_name, @user.conference %> |
  		<%= link_to @user.district_name, @user.district %>
  	</div>
  </div>
	
	<div class="clearfix"></div>
	<hr />

  <h4>Contact Info</h4>
	<p>
	  <strong>Email:</strong>
	  <%= mail_to @user.email %>
	</p>

	<p>
	  <strong>Phone:</strong>
	  <%=h @user.phone %>
	</p>

	<p>
	  <strong>Fax:</strong>
	  <%=h @user.fax %>
	</p>
	
	<h4>Positions</h4>
	<p>
	  <strong>Conference rep:</strong>
	  <%= image_tag("check.png", :alt => "Yes", :border => 0) if @user.conference_rep %>
	</p>

	<p>
	  <strong>National committee:</strong>
	  <%= image_tag("check.png", :alt => "Yes", :border => 0) if @user.national_committee %>
	</p>
	
	<%= render 'uploads/upload', resource: @user %>
	
	<% if can? :edit, @user %>
	  <p>
  	  <%= link_to "Edit profile", edit_user_path(@user), class: "btn primary" %>
  	</p>
	<% end %>
<% end %>
