<% div_for @user do %>
	<h1><%=h @user.full_name %></h1>
	
	<% unless @user.subscribed_to_newsletter? %>
		<div class="notice">
			<h2>You're Not Currently Subscribed to the DFO Newsletter</h2>
			<p>The newsletter contains lots of helpful information and news from around the country. Please subscribe now.</p>
			<%= link_to 'Subscribe now!', subscribe_to_newsletter_user_path(@user), :class => 'super-button' %>
		</div>
	<% end %>
	
	<h2><%= link_to @user.school.name, @user.school %></h2>
	
	<p>
		<%= link_to @user.school.division.name, @user.school.division %><br />
		<%= link_to @user.school.conference.name, @user.school.conference %><br />
		<%= link_to @user.school.district.name, @user.school.district %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= mail_to @user.email %>
	</p>

	<p>
	  <strong>Phone:</strong>
	  <%=h @user.phone %>
	</p>

	<p>
	  <strong>Fax:</strong>
	  <%=h @user.fax %>
	</p>
	<p>
	  <strong>Conference rep:</strong>
	  <%= image_tag("check.png", :alt => "Yes", :border => 0) if @user.conference_rep %>
	</p>

	<p>
	  <strong>National committee:</strong>
	  <%= image_tag("check.png", :alt => "Yes", :border => 0) if @user.national_committee %>
	</p>
	<%= button_to('Edit Profile', edit_user_path(@user), :method => :get) if @user.changeable_by?(current_user) %>
<% end %>
