<div id="profile_picture">
		<%= image_tag @user.photo.url(:medium) %>
</div>

<div id="profile_detail">
	<h1><%=h @user.full_name %></h1>
	<h2><%= @user.school.name %></h1>

		<p>
		  <strong>Email:</strong>
		  <%= mail_to @user.email %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%=h @user.phone %>
		</p>

		<p>
		  <strong>Fax:</strong>
		  <%=h @user.fax %>
		</p>
		<p>
		  <strong>Conference rep:</strong>
		  <%= '<span class="accepted">' + @user.school.conference.name + '</span>' if @user.conference_rep %>
		</p>

		<p>
		  <strong>National committee:</strong>
		  <%= '<span class="accepted">Yes</span>' if @user.national_committee %>
		</p>
		<%= button_to('Edit Profile', edit_user_path(@user), :method => :get) if @user.changeable_by?(current_user) %>
</div>
<div class="clear"></div>


