<h1><%= @division.name %></h1>

<h2>Uploaded Files</h2>
<%= render 'uploads/upload' %>

<%= render 'shared/email_users', :users => @division.users %>

<%= render 'users/search_users' %>

<h2>DFOs</h2>
<table>
	<tr>
		<th>Name</th>
		<th>School</th>
		<th>Contact Info</th>
		<th>Conference Rep</th>
		<th>National Committee</th>
		<th>Affiliation</th>
		<% if admin? %>
			<th>Edit</th>
			<th>Delete</th>
		<% end %>
	</tr>
	<%= render @division.users %>
</table>