<ul class="breadcrumb">
  <li>
    <a href="/developer">Developer documentation</a> 
    <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/developer/conferences">Conferences REST API</a>
  </li>
</ul>

<h1>Conferences Documentation</h1>

<p>
  You must be authenticated to use the API. Please see the 
  <%= link_to 'authentication documentation', '/developer/authentication' %>.
</p>

<table id="api-navigation" class="table">
  <tbody>
    <tr>
      <td>
        <strong><a href='#index'>Show all conferences</a></strong>
        <br />
        <span>GET conferences</span>
      </td>
      <td>
        Returns a list of all conferences listed on FootballOps.org
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href='#show'>Show a conference</a></strong>
        <br />
        <span>GET conferences/:id</span>
      </td>
      <td>
        Returns a Conference found by id
      </td>
    </tr>
  </tbody>
</table>

<div id="index" class="api-method">
  <a href="#api-navigation"><i class="icon-chevron-up"></i> Top</a>
  <h2>Show All Conferences</h2>
  <p>
    Returns a paginated  list of all conferences listed on FootballOps.org.
    Also includes all associated DFOs.
  </p>
</div>

<pre class="pizzazz"><strong>GET</strong> conferences/</pre>

<h3>Parameters</h3>
<table class="table params">
  <tbody>
    <tr>
      <td>
        <div class="param">page</div>
        <span>Optional</span>
      </td>
      <td>The page offset for list of schools. Default is 1.</td>
    </tr>
    <tr>
      <td>
        <div class="param">limit</div>
        <span>Optional</span>
      </td>
      <td>The number of schools to return with your request. Default is 25.</td>
    </tr>
  </tbody>
</table>

<h3>Example Request</h3>
<pre class="pizzazz">
<strong>curl</strong> -i <span class="string">"<%= @api_base_uri + @api_versioned_uri %>/conferences"</span> \
  -d <span class="string">"page=1"</span> \
  -d <span class="string">"limit=25"</span> \
  -H <span class="string">"Authorization: Bearer YOUR_ACCESS_TOKEN"</span></pre>

<h3>Example Response</h3>
<pre class="pizzazz">
<span class="headers">HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8</span>

<%= Pizzazz.ify([@conference, {'next_conference' => '...'}]).html_safe %></pre>


<div id="show" class="api-method">
  <a href="#api-navigation"><i class="icon-chevron-up"></i> Top</a>
  <h2>Show a Conference</h2>
  <p>Returns a conference found by id, and all associated DFOs</p>
</div>

<pre class="pizzazz">
<strong>GET</strong> conferences/<span class="string">:id</span>
</pre>

<h3>Parameters</h3>
<p>This method does not accept any parameters</p>

<h3>Example Request</h3>
<pre class="pizzazz">
<strong>curl</strong> -i <span class="string">"<%= @api_base_uri + @api_versioned_uri %>/conferences/<%= @conference[:id] %>"</span> \
  -H <span class="string">"Authorization: Bearer YOUR_ACCESS_TOKEN"</span>
</pre>

<h3>Example Response</h3>
<pre class="pizzazz">
<span class="headers">HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8</span>

<%= Pizzazz.ify(@conference).html_safe %></pre>
