<ul class="breadcrumb">
  <li>
    <a href="/developer">Developer documentation</a> 
    <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/developer/districts">District REST API</a>
  </li>
</ul>

<h1>Districts Documentation</h1>

<p>
  You must be authenticated to use the API. Please see the 
  <%= link_to 'authentication documentation', '/developer/authentication' %>.
</p>

<table id="api-navigation" class="table">
  <tbody>
    <tr>
      <td>
        <strong><a href='#index'>Show all districts</a></strong>
        <br />
        <span>GET districts</span>
      </td>
      <td>
        Returns a list of all districts listed on FootballOps.org
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href='#show'>Show a district</a></strong>
        <br />
        <span>GET districts/:id</span>
      </td>
      <td>
        Returns a District found by id
      </td>
    </tr>
  </tbody>
</table>

<div id="index" class="api-method">
  <a href="#api-navigation"><i class="icon-chevron-up"></i> Top</a>
  <h2>Show All Districts</h2>
  <p>
    Returns a list of all districts listed on FootballOps.org.
    Also includes all associated DFOs.
  </p>
</div>

<pre class="pizzazz"><strong>GET</strong> districts/</pre>

<h3>Parameters</h3>
<p>This method does not accept any parameters</p>

<h3>Example Request</h3>
<pre class="pizzazz">
<strong>curl</strong> -i <span class="string">"<%= @api_base_uri + @api_versioned_uri %>/districts"</span> \
  -u <span class="string">"6999bc74b782f3ff118d2b205904d622"</span></pre>

<h3>Example Response</h3>
<pre class="pizzazz">
<span class="headers">HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8</span>

<%= Pizzazz.ify([@district, {'next_district' => '...'}]).html_safe %></pre>


<div id="show" class="api-method">
  <a href="#api-navigation"><i class="icon-chevron-up"></i> Top</a>
  <h2>Show a District</h2>
  <p>Returns a district found by id, and all associated DFOs</p>
</div>

<pre class="pizzazz">
<strong>GET</strong> distrcts/<span class="string">:id</span>
</pre>

<h3>Parameters</h3>
<p>This method does not accept any parameters</p>

<h3>Example Request</h3>
<pre class="pizzazz">
<strong>curl</strong> -i <span class="string">"<%= @api_base_uri + @api_versioned_uri %>/districts/<%= @district[:id] %>"</span> \
  -u <span class="string">"6999bc74b782f3ff118d2b205904d622"</span>
</pre>

<h3>Example Response</h3>
<pre class="pizzazz">
<span class="headers">HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8</span>

<%= Pizzazz.ify(@district).html_safe %></pre>
