<ul class="breadcrumb">
  <li>
    <a href="/developer">Developer documentation</a> 
    <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/developer/schools">Schools REST API</a>
  </li>
</ul>

<h1>Schools Documentation</h1>

<p>
  You must be authenticated to use the API. Please see the 
  <%= link_to 'authentication documentation', '#' %>.
</p>

<table id="api-navigation" class="table">
  <tbody>
    <tr>
      <td>
        <strong><a href='#index'>Show all schools</a></strong>
        <br />
        <span>GET schools</span>
      </td>
      <td>
        Returns a list of all schools
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href='#show'>Show a school</a></strong>
        <br />
        <span>GET schools/:id</span>
      </td>
      <td>
        Returns a school found by id
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href='#search'>Search for a school by name</a></strong>
        <br />
        <span>GET schools/search/:q</span>
      </td>
      <td>
        Return a list of all schools matching the search query passed
      </td>
    </tr>
  </tbody>
</table>


<div id="index" class="api-method">
  <a href="#api-navigation"><i class="icon-chevron-up"></i> Top</a>
  <h2>Show All Schools</h2>
  <p>
    Returns a paginated list of all schools listed on FootballOps.org. 
    Also includes all associated DFOs.
  </p>
</div>

<pre class="pizzazz"><strong>GET</strong> schools/</pre>

<h3>Parameters</h3>
<table class="table params">
  <tbody>
    <tr>
      <td>
        <div class="param">page</div>
        <span>Optional</span>
      </td>
      <td>The page offset for list of schools. Default is 1.</td>
    </tr>
    <tr>
      <td>
        <div class="param">limit</div>
        <span>Optional</span>
      </td>
      <td>The number of schools to return with your request. Default is 25.</td>
    </tr>
  </tbody>
</table>

<h3>Example Request</h3>
<pre class="pizzazz">
<strong>curl</strong> -i <span class="string">"<%= @api_base_uri + @api_versioned_uri %>/schools"</span> \
  -d <span class="string">"page=1"</span> \
  -d <span class="string">"limit=25"</span> \
  -u <span class="string">"6999bc74b782f3ff118d2b205904d622"</span></pre>

<h3>Example Response</h3>
<pre class="pizzazz">
<span class="headers">HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8</span>

<%= Pizzazz.ify([@school, {'next_school' => '...'}]).html_safe %></pre>


<div id="show" class="api-method">
  <a href="#api-navigation"><i class="icon-chevron-up"></i> Top</a>
  <h2>Show a School</h2>
  <p>Returns a school found by id, and all associated DFOs</p>
</div>

<pre class="pizzazz">
<strong>GET</strong> schools/<span class="string">:id</span>
</pre>

<h3>Parameters</h3>
<p>This method does not accept any parameters</p>

<h3>Example Request</h3>
<pre class="pizzazz">
<strong>curl</strong> -i <span class="string">"<%= @api_base_uri + @api_versioned_uri %>/schools/345"</span> \
  -u <span class="string">"6999bc74b782f3ff118d2b205904d622"</span>
</pre>

<h3>Example Response</h3>
<pre class="pizzazz">
<span class="headers">HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8</span>

<%= Pizzazz.ify(@school).html_safe %></pre>



<div id="search" class="api-method">
  <a href="#api-navigation"><i class="icon-chevron-up"></i> Top</a>
  <h2>Search Schools by Name</h2>
  <p>Get a list of schools matching the supplied name.</p>
</div>

<pre class="pizzazz"><strong>GET</strong> schools/search</pre>

<h3>Parameters</h3>
<table class="params table">
  <tbody>
    <tr>
      <td>
        <div class="param">q</div>
        <span>Required</span>
      </td>
      <td>Case insensitive name to search for.</td>
    </tr>
  </tbody>
</table>

<h3>Example Request</h3>
<pre class="pizzazz">
<strong>curl</strong> -i <span class="string">"<%= @api_base_uri + @api_versioned_uri %>/schools/search"</span> \
  -X GET -d <span class="string">"q=<%= @school[:name].downcase %>"</span> \
  -u <span class="string">"6999bc74b782f3ff118d2b205904d622"</span></pre>

<h3>Example Response</h3>
<pre class="pizzazz">
<span class="headers">HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8</span>

<%= Pizzazz.ify([@school, {'next_school' => '...'}]).html_safe %></pre>
