<h1>All Schools</h1>

<div id="school-nav">
	<% form_tag :search_schools, :method => :post do %>
		<%= text_field_tag :name %> <%= submit_tag "Search" %>
	<% end %>
</div>

<% if admin? %>
	<%= button_to "New school", new_school_path, :method => :get %>
<% end %>

<%= will_paginate @schools %>

<table border="1">
  <tr>
  	<th>Name</th>
    <th>Conference</th>
    <th>District</th>
    <th>Division</th>
    <th>Address</th>
		<% if admin? %>
			<th>Edit</th>
		<% end %>
  </tr>

<% @schools.each do |school| %>
  <tr class ="school <%= cycle("odd", "even") %>">
    <td><%= link_to school.name, school %></td>
		<td><%= link_to school.conference.name, school.conference %></td>
    <td><%= link_to school.district.name, school.district %></td>
    <td><%= link_to school.division.name, school.division %></td>
    <td>
			<%=h school.address1 %><br />
			<%=h "#{school.city}, #{school.state} #{school.zip}" %>
		</td>
		<% if admin? %>
			<td><%= link_to "Edit", edit_school_path(school) %>
		<% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @schools %>