<h1>All Schools</h1>

<div id="school-search">
	<% form_tag :search_schools, :method => :post do %>
		<%= text_field_tag :name %> <%= submit_tag "Search by school name", class: "btn" %>
	<% end %>
</div>

<% if can? :create, School %>
  <p>
    <%= link_to "Create a new school", new_school_path, class: "btn primary" %>
  </p>
<% end %>

<hr />

<%= will_paginate @schools %>

<table class="zebra-striped">
  <thead>
    <tr>
    	<th>Name</th>
      <th>Conference</th>
      <th>District</th>
      <th>Division</th>
      <th>Address</th>
  		<% if can? :edit, School %>
  			<th>Edit</th>
  		<% end %>
  		<% if can? :delete, School %>
  		  <th>Delete</th>
  		<% end %>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr class="school">
        <td><%= link_to school.name, school %></td>
    		<td><%= link_to school.conference.name, school.conference %></td>
        <td><%= link_to school.district.name, school.district %></td>
        <td><%= link_to school.division.name, school.division %></td>
        <td>
    			<%=h school.address1 %><br />
    			<%=h "#{school.city}, #{school.state} #{school.zip}" %>
    		</td>
    		<% if can? :edit, school %>
    			<td><%= link_to "Edit", edit_school_path(school) %></td>
    		<% end %>
    		<% if can? :delete, school %>
    		  <td><%= link_to "Delete", school_path(school), method: :delete, confirm: "Are you sure you want to delete this school? There is no going back!" %></td>
    		<% end %>
    	</tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @schools %>