<h1>All Schools</h1>

<% form_tag "/schools/search", :method => :post do %>
	<%= text_field_tag :name %> <%= submit_tag "Search" %>
<% end %><br />

<%= will_paginate @schools %>

<table border="1">
  <tr>
  	<th>Name</th>
    <th>Conference</th>
    <th>District</th>
    <th>Division</th>
    <th>Address1</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
  </tr>

<% @schools.each do |school| %>
  <tr>
    <td><%= link_to school.name, school %></td>
		<td><%= link_to school.conference.name, school.conference %></td>
    <td><%= link_to school.district.name, school.district %></td>
    <td><%= link_to school.division.name, school.division %></td>
    <td><%=h school.address1 %></td>
    <td><%=h school.city %></td>
    <td><%=h school.state %></td>
    <td><%=h school.zip %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @schools %>