<h1><%= @school.name %></h1>

<% div_for @school, :class => :clearfix do %>
	<div class="float-left">
		<p>
			<strong>Division: </strong><%= @school.division.name %><br />
			<strong>Conference: </strong><%= @school.conference.name %><br />
			<strong>District: </strong><%= @school.district.name %>
		</p>
	</div>

	<div class="float-left">
		<p>
			<strong>Address:</strong><br />
			<%= @school.address1 %><br />
			<%= "#{@school.city}, #{@school.state} #{@school.zip}" %>
		</p>
	</div>
<% end %>

<h2>Uploaded Files</h2>
<%= render 'uploads/upload' %>

<%= render 'shared/email_users', :users => @school.users %>

<h2>DFOs</h2>
<table>
	<%= render 'users/user_table' %>
	<%= render @school.users %>
</table>