<ul class="breadcrumb">
  <li>
    <a href="/developer">Developer documentation</a> 
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to 'Registered Apps', developer_apps_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= link_to 'New App', new_developer_app_path %>
  </li>
</ul>

<h1>Create a New App</h1>

<%= simple_form_for @app, url: developer_apps_path, html: { class: 'form-vertical' } do |f| %>
  <%= render 'form', f: f %>

  <div class="form-actions">
    <%= f.button :submit, 'Create app', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', developer_apps_path, class: 'btn' %>
  </div>
<% end %>
