<h1>All DFOs</h1>

<% form_tag "/admin/users/search", :method => :post do %>
	<%= text_field_tag :last_name %> <%= submit_tag "Search by last name" %>
<% end %><br />

<%= will_paginate @users %>

<table>
	<tr>
		<th>Name</th>
		<th>School</th>
		<th>Contact Info</th>
		<th>Conference Rep</th>
		<th>National Committee</th>
		<th>Affiliation</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<%= render @users %>
</table>

<%= will_paginate @users %>