<div id="uploads">
	<% if resource.uploads.size > 0 %>
		<ul>
			<% resource.uploads.each do |u| %>
				<li>
					<%= link_to "#{u.name} (#{u.asset_file_name})", u.asset.url %><br />
					<span class="uploaded-time">
						Uploaded <%= distance_of_time_in_words(Time.now, u.created_at) %> ago by <%= u.user.full_name %>
						(<%= link_to "edit", "http://footballops.heroku.com/#{resource.class.to_s.downcase.pluralize}/#{resource.id}/uploads/#{u.id}/edit" %>,
						<%= link_to "delete", "http://footballops.heroku.com/#{resource.class.to_s.downcase.pluralize}/#{resource.id}/uploads/#{u.id}", :method => :delete, :confirm => "Are you sure you want to delete this download? There is no going back!" %>)
					</span>
				</li>
			<% end %>
		</ul>
	<% end %>
	<%= button_to "Upload a file", 
		"http://footballops.heroku.com/#{resource.class.to_s.downcase.pluralize}/#{resource.id}/uploads/new", 
		:method => :get %>
</div>