<h1>New File Upload for <%= @parent.name %></h1>

<% semantic_form_for [@parent, @upload], :html => {:multipart => true} do |f| %>
	<% f.inputs do %>
		<%= f.input :name %>
		<%= f.input :asset, :label => "File", :hint => "Image files (jpg, jpeg, png) or PDFs only please" %>
	<% end %>
	
	<% f.buttons do %>
		<%= f.commit_button "Upload" %> or <%= link_to "Cancel", @parent, :class => :cancel %>
	<% end %>
<% end %>