<h1>Sign in</h1>

<%= simple_form_for @user_session, html: { class: 'form form-vertical' } do |f| %>
  <fieldset>
    <%= f.input :email %>
    <%= f.input :password, hint: ' <a href="/password_resets/new">I forgot my password</a>'.html_safe %>
  </fieldset>
  
  <div class="form-actions">
    <%= f.button :submit, "Sign in", class: "btn btn-primary" %>
    <%= link_to "Cancel", root_path, class: "btn" %>
  </div>
<% end %>
