<h1>Sign in</h1>

<% semantic_form_for @user_session do |f| -%>
	<%= f.error_messages %>
	<% f.inputs do %>
		<%= f.input :email %>
		<%= f.input :password %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button "Sign in" %>
	<% end %>
<% end -%>

<p>Help! <%= link_to "I forgot my password", new_password_reset_path %></p>
