<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <%= csrf_meta_tag %>
  
  <title>FootballOps.org : <%= controller_name.humanize %></title>

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  
  <%= yield :head %>
</head>
<body>
  <div class="container">
    <header id="main-nav" class="clearfix">
      <%= link_to 'FootballOps.org', root_path, class: 'brand' %>
      <ul class="nav nav-pills">
        <% if signed_in? %>
          <li class="dropdown">
            <%= link_to '#', 'data-toggle' => 'dropdown' do %>
              Directory <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to 'All members',        '/directory#!/users' %></li>
              <li><%= link_to 'Conference Reps',    '/directory#!/users/conference-reps' %></li>
              <li><%= link_to 'National Committee', '/directory#!/users/national-committee' %></li>
              <li><%= link_to 'By School',          '/directory#!/schools' %></li>
              <li><%= link_to 'By Conference',      '/directory#!/conferences' %></li>
              <li><%= link_to 'By District',        '/directory#!/districts' %></li>
              <li><%= link_to 'By Division',        '/directory#!/divisions' %></li>
            </ul>
          </li>
          <li class="dropdown">
            <%= link_to '#', 'data-toggle' => 'dropdown' do %>
              <%= current_user.full_name %>
              <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit my profile', "/directory#!/users/#{current_user.id}/edit" %></li>
              <li><%= link_to 'Sign out', sign_out_path %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Sign-in', sign_in_path %></li>
          <li><%= link_to 'Sign-up', sign_up_path %></li>
        <% end %>
      </ul>
    </header>
          
    <div id="main-content">
      <div id="flash">
        <% flash.each do |name, value| %>
          <div class="alert alert-<%= name %>">
            <%= value.html_safe %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
    
    <footer>
      &copy; <%= Time.now.year %> FootballOps.org
      <%= link_to 'Developers', developer_path %>
      <%= link_to 'Contribute', 'https://github.com/kwiest/Football-Ops' %>
    </footer>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8283237-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
